#footer-copyright{
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    padding: 10px;
    height: auto;
    background-color: #0d6759;
    color: #fafafa;
    font-size: 12px;
}